.header {
  display: flex;
  justify-content: center;
  background-color: white;
  border-bottom: solid black;
  padding-bottom: 15px;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
}



.App {
  background-image: url('../public/paw.jpeg');
  background-size: 150px 150px;
  background-repeat: repeat;
}
